@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}
body {
  margin: 0;
  background: #000;
  font-family: sans-serif;
  font-weight: 800;
  width: 80%;
  height: 100vh;
  overflow: hidden;

}

.container {
  width: 60%;
  margin: 5%;
}

header {
  background: #000;
}


.first {
  position: absolute;
  top: 23%;
  left: 45%;
  color: #fff;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.blockchain {
  position: absolute;
  top: 75%;
  left: 45%;
  color: #fff;
  align-items: center;
  /* left:42%; */
}
.down-arrow {
  position: absolute;
  top: 90%;
  left: 48%;
}

.square {
  width: 188px;
  height: 188px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid transparent;
  border-image: linear-gradient(
    -45deg,
    #e0bbe4,
    #957dad,
    #d291bc,
    #fec8d8,
    #ffdfd3
  );
  border-image-slice: 1;
}

.circle {
  position: absolute;
  top: 0;
  left: 41%;
  -webkit-text-stroke: 4px #957dad;
  color: transparent;
  font-size: 450px;
}

.triangle {
  position: absolute;
  top: 20.8%;
  left: 41.2%;
  -webkit-text-stroke: 4px #957dad;
  color: transparent;
  font-size: 280px;
}

.pentagon {
  position: absolute;
  top: 24%;
  left: 43%;
  -webkit-text-stroke: 4px #d291bc;
  color: transparent;
  font-size: 264px;
}

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  position: absolute;
  top: 44%;
  left:17%;
}
.container-text > div{
  height: 100px;
  width: 1000px;
  background-color: transparent;
  overflow: hidden;
  scroll-behavior:smooth;

}
.scroller > div{
  width: 1000px;
  height: 500px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

@media (max-width: 600px) {

  body {
  overflow-y: hidden;
  overflow-x: hidden;
  }

  
 
  .first {
    position: absolute;
    top: 20%;
    left: 34%;
 
  }

  .square {
    position: absolute;
    top: 43%;
    left: 50%;
  }

  .circle {
    position: absolute;
    top: -52px;
    left: 17%;
  }
  
  .triangle {
    position: absolute;
    top: 13.8%;
    left: 17.2%;
   
  }
  
  .pentagon {
    position: absolute;
    top: 16%;
    left: 25%;
}



    .scroller>div {
      
        display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: -50%;
      font-size: 15px;
    }

    .container-text{
      height: 10%;
      width: 100%;
      position: absolute;
      top: 38%;
      left: 0;
    }
  .blockchain {
    position: absolute;
    top: 65%;
    left: 32%;
  }

  .down-arrow {
    position: absolute;
    top: 81%;
    left: 46%;
  }
}
