@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  margin: 0;
  background: #000;
  font-family: sans-serif;
  font-weight: 800;
  width: 100%;
  height: auto;
}

.container {
  position: fixed;
  /*   background-color: blue; */
  width: 100%;
  height: auto;
  margin: 10px 20px;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 7% auto 7%;
  max-width: 700px;
  height: auto;
  font-size: 30px;
/*   background-color: cyan; */
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
/*   background-color: red; */
}

.blockchain {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 5% auto 10%;
  max-width: 700px;
  height: auto;
  font-size: 30px;
/*   background-color: cyan; */
}

.down-arrow {
  position: absolute;
  top: 90%;
  left: 48%;
  margin-top: 5px;
/*   background-color: cyan; */
}

.shapes {
  height: auto;
}
.square {
  width: 188px;
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  border: 4px solid transparent;
  border-image: linear-gradient(
    -45deg,
    #e0bbe4,
    #957dad,
    #d291bc,
    #fec8d8,
    #ffdfd3
  );
  border-image-slice: 1;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -38% auto 0;
  padding: 0;
  max-width: 700px;
  -webkit-text-stroke: 4px #957dad;
  color: transparent;
  font-size: 450px;
  height: 300px;
}

.triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40% auto -30%;
  padding: 0;
  max-width: 700px;
  -webkit-text-stroke: 4px #957dad;
  color: transparent;
  font-size: 280px;
}

.pentagon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -44% auto -35%;
  padding: 0;
  max-width: 700px;
  -webkit-text-stroke: 4px #d291bc;
  color: transparent;
  font-size: 264px;
}

/* ====================== */

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
/*   background-color: pink; */
}
.container-text > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  max-width: 400px;
  background-color: transparent;
  overflow: hidden;
  scroll-behavior: smooth;
/* /*   background-color: grey; */ 
}
.scroller > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 400px;
  height: 300px;
  background-color: transparent;
  text-align: center;
  transition: all 0.5s;
/*   background-color: green; */
}
@media (max-width: 910px) {
  .blockchain {
    margin: 2% auto 0;
  }
  .first {
    margin-top: 20%;
  }
}
@media (max-width: 600px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .first {
    margin-top: 30%;
    margin-bottom: 20%;
  }
  .blockchain {
    margin-bottom: 0;
  }

  .container-text {
    position: absolute;
    bottom: 40%;
  }
  .scroller >div {
    width: 200px;
    height: 300px;
    font-size: 15px;
  }

  .down-arrow {
    margin-top: -10%;
    left: 45%;
  }
}
@media (max-width: 910px) {
  .container-text {
    top: 35%;
  }
}
